@{
    ViewData["Title"] = "Comments";
}

<header>
    <h2>Comments</h2>
</header>

<table class="table">
    <thead>
        <tr>
            <th>Article</th>
            <th>Comment</th>
            <th>Author</th>
            <th>Spam Rating</th> <!-- maybe remove after dev/debugging is done -->
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>