<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"] - LEGGO News</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css">
    @RenderSection("Styles", required: false)

</head>
<body>

    <header>
        <nav class="navbar navbar-expand navbar-light bg-white shadow-sm">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo_32.png">
                </a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Schedule">Schedule</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="About" asp-action="Exid">About EXID</a>
                        </li>
                    </ul>
                </div>
                <div class="">
                    <a href="#" target="_blank"><i class="fab fa-instagram fa-fw"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-twitter fa-fw"></i></a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main class="py-3">
            @RenderBody()
        </main>
    </div>

    <footer id="main-footer" class="bg-dark">
        <div class="container pt-3 pb-1 text-muted">

            <p>All times in content are in Korea Standard Time (KST) unless otherwise stated.</p>

            <p>LEGGO News is an unofficial website that is run by fans of EXID.</p>

            <p>LEGGO News contains copyrighted material that may not have been explicitely authorized for use by the copyright owner(s).  Such content is used under Fair Use clauses specifically for the purpose of covering news.  For more information, read our full <a href="##">Fair Use Notice</a>.</p>


            <div class="d-flex justify-content-between">
                <div>
                    <h6>About LEGGO News</h6>
                    <ul>
                        <li><a asp-controller="About" asp-action="Pledge">Our Pledge</a></li>
                        <li><a asp-controller="About" asp-action="Staff">Our Staff</a></li>
                        <li><a asp-controller="About" asp-action="Support">Support Projects</a></li>
                        <li><a asp-controller="About" asp-action="Contact">Contact Information</a></li>
                    </ul>
                </div>
                <div>
                    <h6>Policies and Notices</h6>
                    <ul>
                        <li><a asp-controller="Policy" asp-action="ContentPolicy">Content Policy</a></li>
                        <li><a asp-controller="Policy" asp-action="CookiePolicy">Cookie Policy</a></li>
                        <li><a asp-controller="Policy" asp-action="FairUseNotice">Fair Use Notice</a></li>
                        <li><a asp-controller="Policy" asp-action="PrivacyPolicy">Privacy Policy</a></li>
                    </ul>
                </div>
                <div>
                    <div class="d-inline-block">
                        <h6>Social Media</h6>
                        <a href="https://www.instagram.com/leggo_news/" target="_blank"><i class="fab fa-instagram fa-fw"></i> leggo_news</a><br>
                        <a href="https://twitter.com/leggo_news" target="_blank"><i class="fab fa-twitter fa-fw"></i> leggo_news</a><br>
                    </div>
                </div>
            </div>
            <p class="text-center">&copy; 2022 LEGGO News</p>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/8e4a4c6700.js" crossorigin="anonymous">
        // NOTE: Add the integrity check after out of dev
        // NOTE: Kit set up with my personal email. Maybe move it to developers@leggonews.com for final.
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
