
@section Styles {
    <link rel="stylesheet" href="/home/style.css">
}

<section class="container mb-5">
    <p>
        EXID is a five-member girl group group that debuted on August 13, 2012 under AB Entertainment which later became Banana Entertainment.
        The original six-member lineup debuted in February 2012, but three of those members left soon afterwards and were replaced by two others.
        Today they are under different companies and are focusing on their solo careers.
        Because there is no single company to update about EXID's activities, LEGGO News aggregates their updates from all of the sources to one place.
    </p>
</section>


<figure class="figure mb-5 w-100">
    <img class="figure-img w-100" src="/home/exid-and-leggos.jpg" alt="EXID and LEGGOs">
    <figcaption class="figure-caption">
        EXID and LEGGO, October 2022
    </figcaption>
</figure>

<section id="profiles" class="container">
    <ul class="nav nav-tabs mb-5" role="tablist">
        <li class="nav-item" role="presentation">
            <button type="button" id="solji-tab" class="nav-link active" data-bs-toggle="tab" data-bs-target="#solji" role="tab" aria-controls="solji" aria-selected="true">
                <img src="~/home/solji-profile.jpg" alt="Solji">
                솔지 (Solji)
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button type="button" id="elly-tab" class="nav-link" data-bs-toggle="tab" data-bs-target="#elly" role="tab" aria-controls="elly" aria-selected="false">
                <img src="~/home/elly-profile.jpg" alt="ELLY">
                엘리 (ELLY)
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button type="button" id="hani-tab" class="nav-link" data-bs-toggle="tab" data-bs-target="#hani" role="tab" aria-controls="hani" aria-selected="false">
                <img src="~/home/hani-profile.jpg" alt="Hani">
                하니 (Hani)
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button type="button" id="hyelin-tab" class="nav-link" data-bs-toggle="tab" data-bs-target="#hyelin" role="tab" aria-controls="hyelin" aria-selected="false">
                <img src="~/home/hyelin-profile.jpg" alt="Hyelin">
                혜린 (Hyelin)
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button type="button" id="jeonghwa-tab" class="nav-link" data-bs-toggle="tab" data-bs-target="#jeonghwa" role="tab" aria-controls="jeonghwa" aria-selected="false">
                <img src="~/home/jeonghwa-profile.jpg" alt="Jeonghwa">
                정화 (Jeonghwa)
            </button>
        </li>
    </ul>

    <div class="tab-content mt-5">

        <div id="solji" class="tab-pane active">
            <div class="card">
                <div class="row">
                    <div class="video-column col-4">
                        <video class="img-fluid rounded-start" controls>
                            <source src="~/home/solji.mp4">
                        </video>
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">솔지 (Solji)</h5>
                            <p class="card-text">
                                Full name: 허솔지 (Heo Solji)<br>
                                Born: January 10, 1989<br>
                                Profession: Singer, Professor
                            </p>
                            <p class="card-text">
                                Solji debuted as a singer on March 31, 2006 in the duo 2NB.
                                The duo never saw success even after many releases, so Solji left 2NB in 2012 to be a vocal coach instead.
                                She was the vocal coach for EXID before she became a member.
                            </p>
                            <p class="card-text">
                                When three of the original members of EXID left soon after their debut, Solji was asked to join along with Hyelin to replace them.
                                Solji's debut as a member of EXID was August 13, 2012.
                            </p>
                            <p class="card-text">
                                Today Solji is a highly respected vocalist in Korea and is one of the best singers.
                                She is a professor in the Department of Applied Music at Yongin University.
                                She still sings and releases music too.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="elly" class="tab-pane">
            <div class="card">
                <div class="row">
                    <div class="video-column col-4">
                        <video class="img-fluid rounded-start" controls>
                            <source src="~/home/elly.mp4">
                        </video>
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">엘리 (ELLY)</h5>
                            <p class="card-text">
                                Full name: 안효진 (Ahn Hyojin)<br>
                                Born: December 10, 1990<br>
                                Profession: Rapper, Songwriter, Producer
                            </p>
                            <p class="card-text">
                                ELLY debuted as a rapper on September 12, 2009 at the HIPHOPLAYA concert as a member of the underground rap group Jiggy Fellaz.
                                In 2011, she got into songwriting and quickly had success with the award-winning song "Trouble Maker".
                            </p>
                            <p class="card-text">
                                It was revealed in December 2011 that the talented ELLY would be a member of the upcoming kpop group EXID.
                                She debuted as one of the original members on February 14, 2012.
                            </p>
                            <p class="card-text">
                                ELLY is one of the most credited female songwriters in Korea, writing most of EXID's songs and many songs for other groups.
                                Today ELLY works at TR Entertainment as a producer for TRI.BE.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="hani" class="tab-pane">
            <div class="card">
                <div class="row">
                    <div class="video-column col-4">
                        <video class="img-fluid rounded-start" controls>
                            <source src="~/home/hani.mp4">
                        </video>
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">하니 (Hani)</h5>
                            <p class="card-text">
                                Full name: 안희연 (Ahn Heeyeon)<br>
                                Born: May 1, 1992<br>
                                Profession: Singer, Actress
                            </p>
                            <p class="card-text">
                                Hani is an original member of EXID, debuting on February 14, 2012.
                                Hani saved the group from disbandment in 2014 when her fancam went viral and brought EXID a lot of positive attention.
                                Her fancam is still the most viewed fancam of all time.
                            </p>
                            <p class="card-text">
                                Recently Hani has been focusing on acting and psychology.
                                As an actress, she has been successful and has experimented in a variety of roles.
                                As a psychology expert and celebrity, she uses many platforms to help others achieve better mental health and well-being.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="hyelin" class="tab-pane">
            <div class="card">
                <div class="row">
                    <div class="video-column col-4">
                        <video class="img-fluid rounded-start" controls>
                            <source src="~/home/hyelin.mp4">
                        </video>
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">혜린 (Hyelin)</h5>
                            <p class="card-text">
                                Full name: 서혜린 (Seo Hyelin)<br>
                                Born: August 23, 1993<br>
                                Profession: Singer
                            </p>
                            <p class="card-text">
                                Hyelin debuted as a member of EXID on August 13, 2012.
                                She along with Solji replaced the three members who had left the group earlier that year.
                            </p>
                            <p class="card-text">
                                Hyelin is an expert on food, beauty, sales, and laughter.
                                She sometimes appears on shows related to food, beauty, or sales; 
                                and her personality transforms even the most mundane topic into quality entertainment.
                            </p>
                            <p class="card-text">
                                Hyelin is also a great singer.
                                When Solji went on haitus, Hyelin sang her parts during performances.
                            </p>
                            <p class="card-text">
                                While Hyelin's activities recently are mostly her various appearances and endorsements, she does release some music too.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="jeonghwa" class="tab-pane">
            <div class="card">
                <div class="row">
                    <div class="video-column col-4">
                        <video class="img-fluid rounded-start" controls>
                            <source src="~/home/jeonghwa.mp4">
                        </video>
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">정화 (Jeonghwa)</h5>
                            <p class="card-text">
                                Full name: 박정화 (Park Jeonghwa)<br>
                                Born: May 8, 1995<br>
                                Profession: Singer, Actress
                            </p>
                            <p class="card-text">
                                Despite being the youngest member of EXID, Jeonghwa has been in the entertainment industry the longest.
                                Jeonghwa started her career as an actress in December 2004 after being scouted at a talent show a few months prior.
                                She was in several shows and even a music video when she was a kid.
                            </p>
                            <p class="card-text">
                                On February 14, 2012 Jeonghwa debuted as a member of EXID.
                            </p>
                            <p class="card-text">
                                Jeonghwa's focus recently is on her acting career.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>