@{
    ViewData["Title"] = "About EXID";
}

<section>
    <h2>EXID</h2>

    <p>EXID debuted February 14, 2012.  They performed their songs on stage for M Countdown.  The single was released a couple of days later on February 16.</p>

    <p>The original lineup was Jeonghwa (정화), Haeryung (해령), Hani (하니), LE, Yuji (유지), and Dami (다미).  A few months after debut, Haeryung, Yuji, and Dami left.  They later formed the group Bestie.  In EXID, they were replaced with Hyelin (혜린) and Solji (솔지).  The current lineup of EXID is Jeonghwa, Hyelin, Hani, ELLY, and Solji.</p>

    <p>EXID debuted under AB Entertainment, which eventually transitioned into Banana Company.  The company did not do enough for EXID, so they received many complaints from fans over the years.  Fans even forced the company to meet with them twice in 2016 about this.  When the members of EXID started to leave the company in 2019, fans were happy for them.</p>

    <p>Now, EXID members are under different companies.  They are still together and have even done some activities together, but they are mostly focusing on their solo careers right now.</p>

</section>

<section>
    <h2>Solji</h2>
</section>

<section>
    <h2>ELLY</h2>
</section>

<section>
    <h2>Hani</h2>
</section>

<section>
    <h2>Hyelin</h2>
</section>

<section>
    <h2>Jeonghwa</h2>
</section>
