@{
    ViewData["Title"] = "Support Projects";
}

<h2>Support Projects</h2>

<section>
    <p>We have had the honor of being involved in many support projects for EXID.  
        Here we want to thank everyone who made these projects possible.
    </p>
</section>

<section>
    <h2>2022 Jeonghwa Birthday</h2>
    <p>Thank you le_gyaeisseo and Shining Jeonghwa!</p>
    <p>We sent Jeonghwa letters and gifts for her birthday.
        The gifts are mostly attire that matches Hani's birthday gifts.  
        They are expensive but oh so cute!
    </p>
    <p>In addition to contributing to our budget, 
        le_gyaeisseo and Shining Jeonghwa picked out the gifts and handled the logistics.  
        This project would not have been possible without them.
    </p>
</section>

<section>
    <h2>2022 Hani Birthday</h2>
    <p>Thank you le_gyaeisseo and Shining Jeonghwa!</p>
    <p>We sent Hani letters and gifts for her birthday.
        The gifts are mostly attire that matches Jeonghwa's birthday gifts.  
        They are expensive but oh so cute!
    </p>
    <p>In addition to contributing to our budget, 
        le_gyaeisseo and Shining Jeonghwa picked out the gifts and handled the logistics.  
        This project would not have been possible without them.
    </p>
</section>

<section>
    <h2>2022 Solji Birthday</h2>
    <p>Thank you SoljiKing!</p>
    <p>We bought Solji a custom in-ear from Soundcat for her birthday.  
        Solji picked out the design, and we had it ordered.  
        It took a few months to deliver her present to her, but that's okay.
        The new in-ear is gorgeous!
    </p>
    <p>LEGGO News contributed to our budget, 
        but SoljiKing communicated with everyone involved and handled the entire process.  
        This project would not have been possible without her.
    </p>
</section>

<section>
    <h2>2021 LEGGO Raffle</h2>
    <p>Thank you LEGGO News Staff!</p>
    <p>LEGGO News held a LEGGO raffle in December.  
        Winners around the world received fan-made and official prizes with free shipping.  
        Our staff Atarka provided most of the prizes, and LEGGO Nathan covered most of the costs.
    </p>
</section>

<section>
    <h2>2021 ELLY Birthday</h2>
    <p>Thank you Hyelinikid and everyone who donated!</p>
    <p>LEGGO News organized a charity donation in ELLY's name for her birthday.  
        ELLY requested that we do a charity donation, but we picked out the charity.  
        2,100,000 KRW was donated to withHAB.  
        Many people contributed to the donation pool.
    </p>
    <p>This was the first project that LEGGO News organized without help, 
        so we are especially thankful to everyone who donated and made it a success.  
        We are also very thankful to Hyelinikid masternim 
        for letting us transfer money to withHAB through his Korean bank account.
    </p>
</section>

<section>
    <h2>2021 Hyelin Birthday</h2>
    <p>Thank you Hyelinikid and everyone who donated!</p>
    <p>We donated 823,000 KRW to three different charities in Hyelin's name'.
        The event was co-organized by LEGGO News and Hyelinikid.  
        Many fans contributed to our budget.  
        In-person volunteer work was planned, but this had to be canceled due to the pandemic.  
        Still, the project was a great success!
    </p>
    <p>This was the first project that LEGGO News had a lead role in.  
        We are thankful to Hyelinikid both for being our mentor and for giving us an equal role in this project.  
        Because of you, we knew what to do for ELLY's project months later.
    </p>
</section>

<section>
    <h2>2021 Jeonghwa Birthday</h2>
    <p>Thank you Shining Jeonghwa and JjongCrew!</p>
    <p>We bought bus stop ads near the General Assembly Hall Whimoon High School entrance.
        The ads were beautiful pictures of Jeonghwa with happy birthday pictures.  
        They stayed at the bus stop for a month.  
        Jeonghwa and her company both saw and shared pictures of the ads and thanked us.
    </p>
    <p>This was one of the first projects that we had a part in organizing, 
        and it was a pleasure to share the experience with Shining Jeonghwa and JjongCrew.
        The others handled most of the planning and logistics, 
        but they made us feel involved.  
        We are very thankful.
    </p>
</section>

<section>
    <h2>2021 Hani Birthday</h2>
    <p>Thank you HelloHaniDotCom and everyone who donated!</p>
    <p>LEGGOs donated 4,030,000 KRW to Korea Green Foundation under Hani's name.
        A booklet was assembled for Hani, 
        and each person who donated was able to contribute a page to it.
        LEGGO News was one of the many who donated to this support project..
    </p>
    <p>HelloHaniDotCom organized this event under her support account SUPPORTERforH.
        We are very glad that she organized this event for LEGGOs to easily support Hani for her birthday.
    </p>
</section>
