@{
    ViewData["Title"] = "About EXID";
}

<h1>Contact Us</h1>

<section>
    <p>We always want to communicate with other LEGGOs!  
        Send us a DM on social media or email us.  
        English or Korean is prefered, but we can accommodate any langauge.
    </p>
    <ul>
        <li><a href="mailto:news@leggonews.com">news@leggonews.com</a></li>
        <li><a href="https://www.instagram.com/leggo_news/" target="_blank"><i class="fab fa-instagram fa-fw"></i> leggo_news</a></li>
        <li><a href="https://twitter.com/leggo_news" target="_blank"><i class="fab fa-twitter fa-fw"></i> leggo_news</a></li>
    </ul>
</section>