<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"]</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="~/styles.css">
    @RenderSection("Styles", required: false)
</head>
<body>

    <nav id="main-nav" class="navbar navbar-expand-md">
        <div class="container">
            <a class="navbar-brand" href="~/">
                <img src="~/logo.png" alt="LEGGO News Logo" style="height: 32px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="main-menu" class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="~/schedule">Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/news">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/discography">Discography</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/discography">Filmography</a>
                    </li>
                </ul>
                <form role="search">
                    <div class="d-flex">
                        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                        <button type="submit" class="btn">
                            <i class="fas fa-magnifying-glass fa-fw"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <div class="my-5">
        @RenderBody()
    </div>

    <script src="https://kit.fontawesome.com/8e4a4c6700.js" crossorigin="anonymous">
        // NOTE: Add the integrity check after out of dev
        // NOTE: Kit set up with my personal email. Maybe move it to developers@leggonews.com for final.
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>