@using Database.DTOs
@model ArticleIndexViewModel;
@{
    ViewData["Title"] = "Latest News";
}

<p>The latest news about EXID and LEGGO, the amazing kpop girl group and their fandom.</p>

@foreach (var summary in Model.Data)
{
    <div class="media border mb-3 p-3 position-relative">
        <div class="media-body">
            <h6>@summary.Title</h6>
            <a 
                asp-controller="Home" 
                asp-action="Article" 
                asp-route-id="@summary.Id" 
                asp-route-friendly="@summary.FriendlyUrlSegment"
                class="stretched-link"
            >
                Read more
            </a>
        </div>
        <img src="~/images/logo_64.png" class="ml-3">
    </div>
}
