@page
@{
    ViewData["Title"] = "About EXID";
}

<div style="color: green; font-weight: bold">
    <!-- dev comment -->
    Using this for reference:
    <a href="https://leggonews.com/whoz-that-girl/">https://leggonews.com/whoz-that-girl/</a>
</div>

<h1>About EXID</h1>

<section>
    <p>EXID debuted February 14, 2012.  They performed their songs on stage for M Countdown.  The single was released a couple of days later on February 16.</p>
    <p>The original lineup was Jeonghwa (정화), Haeryung (해령), Hani (하니), LE, Yuji (유지), and Dami (다미).  A few months after debut, Haeryung, Yuji, and Dami left.  They later formed the group Bestie.  In EXID, they were replaced with Hyelin (혜린) and Solji (솔지).  The current lineup of EXID is Jeonghwa, Hyelin, Hani, ELLY, and Solji.</p>
    <p>EXID debuted under AB Entertainment, which eventually transitioned into Banana Company.  The company did not do enough for EXID, so they received many complaints from fans over the years.  Fans even forced the company to meet with them twice in 2016 about this.  When the members of EXID started to leave the company in 2019, fans were happy for them.</p>
    <p>Now, EXID members are under different companies.  They are still together and have even done some activities together, but they are mostly focusing on their solo careers right now.</p>
</section>

<section>
    <h2>Solji</h2>
    <p>Solji debuted in 2NB on March 31st, 2006. Her life after that was filled with struggles, and she met each obstacle with overwhelming strength and love. She earned her title of “idol” and became the leader of EXID and LEGGO on August 13th, 2012.</p>
    <dl>
        <dt>Emoji</dt>
        <dd>Butterfly 🦋</dd>
        <dt>Blood type</dt>
        <dd>O</dd>
        <dt>Fandom name</dt>
        <dd>Mandoo (만두)</dd>
        <dt>Management Company</dt>
        <dd>C-JeS Entertainment</dd>
        <dt>Social media</dt>
        <dd>
            <ul>
                <li>Facebook:</li>
                <li>Instagram:</li>
                <li>TikTok:</li>
                <li>VLive:</li>
                <li>YouTube:</li>
            </ul>
        </dd>
    </dl>
</section>

<section>
    <h2>ELLY</h2>
    <p>ELLY is the badass rapper of EXID, but she’s also a total sweetie. She started her career as an underground rapper in 2009, and she debuted with EXID on February 16th, 2012.</p>
</section>

<section>
    <h2>Hani</h2>
    <p>Hani is EXID’s brain and rose. She debuted with them on February 16th, 2012 with their single album Holla.</p>
</section>

<section>
    <h2>Hyelin</h2>
    <p>
        Hyelin is the comedian and biggest foodie in EXID.
        While not an original member of EXID, she debuted as a member on August 13th, 2012.
    </p>
</section>

<section>
    <h2>Jeonghwa</h2>
    <p>Though the maknae of EXID, Jeonghwa has been in the entertainment industry the longest. She debuted as an actress in 2004, and she debuted with EXID on February 16th, 2012.</p>
</section>
