@page
@{
    ViewData["Title"] = "Support Projects";
}

<h1>Support Projects</h1>

<section>
    <p>
        We have had the honor of being involved in many support projects for EXID.
        We are grateful to everyone who made these projects possible.
    </p>
</section>

<section class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img class="img-fluid rounded-start"
                 src="~/images/2023_hyelin_birthday.jpg"
                 alt="2023 Hyelin Birthday">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">2023 Hyelin Birthday Celebration</h5>
                <p class="card-text">Thank you Hyelin and Hyelinikid!</p>
                <p class="card-text">
                    For her birthday, Hyelin invited nine fans to entertain children with her at a community center.
                    We taught the children how to make gimbap, then Hyelin played games with them.
                </p>
                <p class="card-text">
                    Hyelinikid staff handled the logistics for the event.
                    LEGGO News and Hyelinikid funded the event.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">2023 Solji SIX Support</h5>
        <p class="card-text">Thank you Best Voice Solji!</p>
        <p class="card-text">
            Best Voice Solji organized a support project for the last night of Solji's performance in the play SIX.
            Presents and food were sent to SIX staff and artists.
        </p>
        <p class="card-text">
            LEGGO News contributed to the budget.
        </p>
    </div>
</section>

<section class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">2022 Jeonghwa Birthday</h5>
        <p class="card-text">Thank you le_gyaeisseo and Shining Jeonghwa!</p>
        <p class="card-text">
            We sent Jeonghwa letters and gifts for her birthday.
            The gifts are mostly attire that matches Hani's birthday gifts.
            They are expensive but oh so cute!
        </p>
        <p class="card-text">
            In addition to contributing to our budget,
            le_gyaeisseo and Shining Jeonghwa picked out the gifts and handled the logistics.
            This project would not have been possible without them.
        </p>
    </div>
</section>

<section class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">2022 Hani Birthday</h5>
        <p class="card-text">Thank you le_gyaeisseo and Shining Jeonghwa!</p>
        <p class="card-text">
            We sent Hani letters and gifts for her birthday.
            The gifts are mostly attire that matches Jeonghwa's birthday gifts.
            They are expensive but oh so cute!
        </p>
        <p class="card-text">
            In addition to contributing to our budget,
            le_gyaeisseo and Shining Jeonghwa picked out the gifts and handled the logistics.
            This project would not have been possible without them.
        </p>
    </div>
</section>

<section class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img class="img-fluid rounded-start"
                 src="~/images/2022_solji_birthday.jpg"
                 alt="2022 Solji In-Ear">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">2022 Solji Birthday</h5>
                <p class="card-text">Thank you SoljiKing!</p>
                <p class="card-text">
                    We bought Solji a custom in-ear from Soundcat for her birthday.
                    Solji picked out the design, and we had it ordered.
                    It took a few months to deliver her present to her, but that's okay.
                    The new in-ear is gorgeous!
                </p>
                <p class="card-text">
                    LEGGO News contributed to our budget,
                    but SoljiKing communicated with everyone involved and handled the entire process.
                    This project would not have been possible without her.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img class="img-fluid rounded-start"
                 src="~/images/2021_leggo_raffle.jpg"
                 alt="2021 LEGGO Raffle">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">2022 LEGGO Raffle</h5>
                <p class="card-text">Thank you LEGGO News Staff!</p>
                <p class="card-text">
                    LEGGO News held a LEGGO raffle in December.
                    Winners around the world received fan-made and official prizes with free shipping.
                    Our staff Atarka provided most of the prizes, and LEGGO Nathan covered most of the costs.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img class="img-fluid rounded-start"
                 src="~/images/2021_elly_birthday.jpg"
                 alt="2021 ELLY Birthday">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">2021 ELLY Birthday</h5>
                <p class="card-text">Thank you Hyelinikid and everyone who donated!</p>
                <p class="card-text">
                    LEGGO News organized a charity donation in ELLY's name for her birthday.
                    ELLY requested that we do a charity donation, but we picked out the charity.
                    2,100,000 KRW was donated to withHAB.
                    Many people contributed to the donation pool.
                </p>
                <p class="card-text">
                    This was the first project that LEGGO News organized without help,
                    so we are especially thankful to everyone who donated and made it a success.
                    We are also very thankful to Hyelinikid masternim
                    for letting us transfer money to withHAB through his Korean bank account.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img class="img-fluid rounded-start"
                 src="~/images/2021_hyelin_birthday.jpg"
                 alt="2021 Hyelin Birthday">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">2021 Hyelin Birthday</h5>
                <p class="card-text">Thank you Hyelinikid and everyone who donated!</p>
                <p class="card-text">
                    We donated 823,000 KRW to three different charities in Hyelin's name'.
                    The event was co-organized by LEGGO News and Hyelinikid.
                    Many fans contributed to our budget.
                    In-person volunteer work was planned, but this had to be canceled due to the pandemic.
                    Still, the project was a great success!
                </p>
                <p class="card-text">
                    This was the first project that LEGGO News had a lead role in.
                    We are thankful to Hyelinikid both for being our mentor and for giving us an equal role in this project.
                    Because of you, we knew what to do for ELLY's project months later.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img class="img-fluid rounded-start"
                 src="~/images/2021_jeonghwa_birthday.jpg"
                 alt="2021 Jeonghwa Birthday">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">2021 Jeonghwa Birthday</h5>
                <p class="card-text">Thank you Shining Jeonghwa and JjongCrew!</p>
                <p class="card-text">
                    We bought bus stop ads near the General Assembly Hall Whimoon High School entrance.
                    The ads were beautiful pictures of Jeonghwa with happy birthday pictures.
                    They stayed at the bus stop for a month.
                    Jeonghwa and her company both saw and shared pictures of the ads and thanked us.
                </p>
                <p class="card-text">
                    This was one of the first projects that we had a part in organizing,
                    and it was a pleasure to share the experience with Shining Jeonghwa and JjongCrew.
                    The others handled most of the planning and logistics,
                    but they made us feel involved.
                    We are very thankful.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img class="img-fluid rounded-start"
                 src="~/images/2021_hani_birthday.jpg"
                 alt="2021 Hani Birthday">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">2021 Hani Birthday</h5>
                <p class="card-text">Thank you HelloHaniDotCom and everyone who donated!</p>
                <p class="card-text">
                    LEGGOs donated 4,030,000 KRW to Korea Green Foundation under Hani's name.
                    A booklet was assembled for Hani,
                    and each person who donated was able to contribute a page to it.
                    LEGGO News was one of the many who donated to this support project..
                </p>
                <p class="card-text">
                    HelloHaniDotCom organized this event under her support account SUPPORTERforH.
                    We are very glad that she organized this event for LEGGOs to easily support Hani for her birthday.
                </p>
            </div>
        </div>
    </div>
</section>
