@{
    ViewData["Title"] = "Privacy Notice";
}
<h1>@ViewData["Title"]</h1>

<p>This website, like almost all websites, does collect some information about its visitors.  This document explains what information we collect, in what circumstances we collect it, and what we do with any collected information.  If you have any questions or concerns, please contact us at <a href="mailto:support@leggonews.com">support@leggonews.com</a>.</p>

<section>
    <h2>The data we collect and why</h2>
    <p><em>For every visitor</em>, the metadata of every request to our server is logged.  The metadata includes the timestamp, requested URL, referring URL, client IP address, and browser user-agent string.  This information is used to diagnose problems, look for security threats, and generate website usage statistics.  The generated statistics are avialable to staff and partially to visitors, but the raw logs are only accessible by our server admin(s) and our hosting provider.</p>
    <p><em>For user accounts</em>, both staff and non-staff, account information and submitted content (such as comments) are saved.  The account information is the basic information presented on the account profile page, which includes the user's display name, profile picture, and login history.  The login history and the account are used for security purposes to prevent spam, hacking, and misuse of the website.  Each user has access to their own account's data, and our moderators and administrators have access too.</p>
    <p>In both of the above scenarios, the data collected may be kept indefinitely by default.</p>
</section>

<section>
    <h2>Third parties data collection</h2>
    <p>By default, we block all third-party data collection except for request metadata, which seems reasonable to us.  A modern browser is required for our blocking code to function properly.</p>
    <p>Blocking third parties such as YouTube and Twitter may cause their embedded content to not function properly.  Our visitors can opt-in to allowing each website's content on our website.  Relevent links about the company's cookie and privacy policies are shown on the opt-in prompt.</p>
</section>

<section>
    <h2>What rights you have over your data</h2>
    <p>Users can download all of their data except for the request metadata logs.  The request metadata is not included, because it is often impossible to match a log entry to a specific user.  All of the other collected data is available for download in the link in the account profile page.</p>
    <p>Non-staff users can delete their profile information, deactivate their account, and make their comments private.  Login history cannot be deleted.  Comments made private can still be viewed by administrators and moderators.  Deactivated accounts only contain the minimum information necessary for the user to reactivate the account, so profile information is deleted.</p>
    <p>Staff users are able to manage the same data as non-staff users:  they can delete their profile information, deactivate their account, and make their comments private.  However, any other content that they have contributed cannot be deleted.  This includes articles, leads, and media.</p>
</section>

<section>
    <h2>Where we send your data</h2>
    <p>Personally identifiable information is kept between our staff.  General, non-identifying statistics of our visitors and users may be shared publicly.</p>
    <p>Third parties may collect additional data through our website.  (See section above about third parties.)</p>
</section>

<section>
    <h2>How we protect your data</h2>
    <p>Our web server is protected by two-factor authentication, which is usually a password and a fingerprint.  Because the server houses the request metadata logs and the website program, it is the most critical part of our system.</p>
    <p>Vulnerability scans at the level required for e-commerce websites are run quarterly against our website and server.  Our website has nothing to do with e-commerce and only stores a little bit of user data, but we figure if it passes the security checks for e-commerce websites, it should be good enough. 😉</p>
    <p>Our staff are vetted and trusted LEGGOs who have been in the fandom for at least a year without issue.  They love EXID and want to support EXID and LEGGO.</p>
</section>
