@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>Privacy Policy</h1>

<section>
    <p>
        Effective date: November 10, 2023
    </p>
    <p>
        LEGGO News exists to serve EXID and their fans.
        Most of our website visitors are fans of EXID.
        Even those visitors who are not fans may become fans.
        Therefore, every decision that we make has you as an important consideration.
    </p>
    <p>
        In order to create a quality and secure website for you,
        we have to collect some private information.
        This document details what information we collect and how we use it.
    </p>
</section>

<section>
    <h2>Information We Collect</h2>
    <p>
        When you visit our website, we receive metadata from the connection and your browser:
        this always contains your IP address and the URLs that you try to access;
        it usually also contains your browser name and version, operating system name, supported languages, and the refering page.
        To diagnose website issues, this information may be used to reconstruct your path through our website.
        To plan improvements to our services, we may aggregate all visitors' data to look at demographics and trends.
        Because we want to see trends over years, this information is kept indefinitely.
    </p>
    <p>
        When you opt in to third party content on our website,
        we set a browser cookie to remember your preference.
        We will receive that cookie thereafter when you visit our website.
        Opt-in cookies are expired after 90 days.
    </p>
    <p>
        When you sign in to LEGGO News, we note the time and your IP address, and we collect some of your account information.
        For a guest account, the account information is only your display name and profile picture.
        For a staff account, the account information is your display name, profile picture, email address, and password.
        Account information, except for passwords, is stored indefinitely; passwords are erased if unused after 90 days.
    </p>
    <p>
        When you contribute content or help to contribute content, such as an article or a comment,
        we store that content and in what way you contributed to it.
    </p>
    <p>
        When you send us a message, email, or other correspondence, we keep records of those communications.
    </p>
</section>

<section>
    <h2>Information We Share</h2>

    <p>
        Our website is hosted on a server that we rent from Liquid Web.
        They may need to access our server and its data sometimes to fulfill their duties as our server provider.
    </p>

    <p>
        Some of our resources are served from content delivery networks (CDNs).
        We have explicitely banned third party cookies for them, but they will still receive some metadata from you such as your IP address and user agent.
        The CDNs that we use are BootstrapCDN, Cloudflare, Google, FontAwesome, and Google.
    </p>

    <p>
        Some of our website functions embed content from other websites.
        For your privacy, all of these functions are disabled by default, and the opt-in prompts state the privacy risks.
    </p>

    <p>
        When you contribute to one of our articles or leave a comment on one of our articles,
        we may publicly display your submitted content, your display name, and your profile picture.
    </p>

    <p>
        With your permission, we may share the content of any messages or emails that you send to us.
    </p>

</section>

<section>
    <h2>Your Rights</h2>
    <p>
        Depending on your location, you may be able to exercise certain privacy rights.
        In many places, your rights include the following:
    </p>
    <ul>
        <li>The right to be provided with a copy of your personal data.</li>
        <li>The right to require us to correct any mistakes in your personal data.</li>
        <li>The right to require us to delete your personal data&mdash;in certain situations.</li>
    </ul>
    <p>
        To exercise any of your rights listed above or granted by the applicable laws where you are located,
        contact us at <a href="mailto:support@leggonews.com">support@leggonews.com</a>.
    </p>
</section>
