
<section class="container">

    <div class="d-flex justify-content-between mb-3">
        <a href="#prev">
            <i class="fas fa-chevron-left fa-fw"></i>
        </a>
        <button type="button" class="btn">
            2024.01
        </button>
        <a href="#next">
            <i class="fas fa-chevron-right fa-fw"></i>
        </a>
    </div>

    <hr>

    <div class="card my-3">
        <img src="~/schedule/default-background.png" class="card-img">
        <div class="card-img-overlay text-light">
            <h5 class="card-title">Title of Event</h5>
            <h6 class="card-subtitle text-body-secondary mb-3">Local (Korean) time: 15:00 to 16:30</h6>
            <p class="card-text">A short paragraph describing what's going on.'</p>
            <a href="#" class="card-link">Click here to read more.</a>
        </div>
    </div>

    <div class="card my-3">
        <img src="~/schedule/default-background.png" class="card-img">
        <div class="card-img-overlay text-light">
            <h5 class="card-title">Title of Event</h5>
            <h6 class="card-subtitle text-body-secondary mb-3">Local (Korean) time: 15:00 to 16:30</h6>
            <p class="card-text">A short paragraph describing what's going on.'</p>
            <a href="#" class="card-link">Click here to read more.</a>
        </div>
    </div>

    <div class="card my-3">
        <img src="~/schedule/default-background.png" class="card-img">
        <div class="card-img-overlay text-light">
            <h5 class="card-title">Title of Event</h5>
            <h6 class="card-subtitle text-body-secondary mb-3">Local (Korean) time: 15:00 to 16:30</h6>
            <p class="card-text">A short paragraph describing what's going on.'</p>
            <a href="#" class="card-link">Click here to read more.</a>
        </div>
    </div>

</section>