
.contentContainer {
    position: relative;
}

.contentPlaceholder {
    position: absolute;
    top: 1em;
    left: 1em;
    user-select: none;
    pointer-events: none;
}

.content {
    padding: 1em;
}

.toolbar {
    border-bottom: 1px solid var(--bs-border-color);
    overflow: hidden;
}
