@{
    ViewData["Title"] = "Pledge";
}

<h1>LEGGO News Pledge</h1>

<section>
    <p>LEGGO News exists to love, support, and promote the current members of EXID:</p>
    <ul>
        <li>Heo Solji (허솔지)</li>
        <li>Ahn Hyojin (안효지), stage name ELLY</li>
        <li>Ahn Heeyon (안희연), stage name Hani (하니)</li>
        <li>Seo Hyelin (서혜린)</li>
        <li>Park Jeonghwa (박정화)</li>
    </ul>
    <p>We promise to fulfil our purpose to the best of our ability.</p>

    <p><em>All usages of the pronoun "we" below refers to LEGGO News collectively.  
        While our staff is expected to uphold our pledge while working on LEGGO News, 
        we respect each of our staff's individuality and cannot bind them individually to our collective promise.
    </em></p>
</section>

<section>
    <h2>Love and Support</h2>

    <p>We will love and support EXID forever.  
        LEGGO News will not shut down while EXID exists.
    </p>

    <p>We will strive to be examples of good fans.
        We will compliment EXID.  
        We will purchase EXID's merchandise.  
        We will attend EXID's concerts and other events if feasible.
    </p>

    <p>We will never hurt EXID.  
        We will never insult or criticize EXID.  
        We will never seek or share EXID's secrets without permission.  
        We will never harass EXID or their families, friends, or associates.
    </p>

    <p>We will ensure that every EXID birthday and anniversary is celebrated.  
        We will participate in fan support projects and sometimes organize them.  
        EXID will know that LEGGOs celebrate them.
    </p>
</section>

<section>
    <h2>Serve</h2>

    <p>We will serve EXID without exception.  
        If any EXID member asks us to do something or to not do something, 
        then we will always obey without exception.  
        Because EXID can't be bothered to instruct our every move, 
        we will continously seek new ways to serve EXID without their direction.
    </p>

    <p>We will serve LEGGO where we can.
        If a LEGGO needs our help to enjoy EXID's content, then we will try to help them. 
        If a LEGGO needs our help to support EXID, then we will try to help them.
        We will continously seek new ways to serve the fandom.
    </p>

    <p>A strong fanbase can do more for EXID.
        We will do our part to strengthen the fandom.
    </p>
</section>

<section>
    <!-- Keep this section last, because it isn't as important as the rest. -->
    <h2>Promulgate News</h2>

    <p>EXID is still together.  There is new content to enjoy, solo and group.  
        We will watch many sources for information, 
        and we will report any interesting news.
    </p>

    <p>LEGGOs still love and support EXID.  There are fans to befriend.
        We will remain ingrained in the fandom, 
        and we will share news of LEGGO's support.
    </p>
</section>

