@{
    ViewData["Title"] = "Media";
}

<header>
    <h2>Media</h2>
</header>

<div class="row">
    <div>
        <img alt="" src="#">
        <h5>Title</h5>
        <p>Credit: someone</p>
    </div>
</div>