
/* Some reset styles */

.calendar {
}
    .calendar h6 {
        margin: 0;
    }


/* The styles we want */

.calendar {
    table-layout: fixed;
    width: 100%;
}

    .calendar td {
        border: 1px solid #ddd;
        height: 6em;
    }

    .calendar th {
        background: #eee;
        border: 1px solid #ddd;
        border-collapse: collapse;
        text-align: center;
    }

    .calendar .month-nav {
        margin: 0 5px;
    }
        .calendar .month-nav.previous {
            float: left;
        }
        .calendar .month-nav.next {
            float: right;
        }

    .calendar .day {
    }
        .calendar .day.outside-month {
            background: #eee;
            color: #888;
        }
        .calendar .day .day-number {
            text-align: right;
        }

    .calendar .events-container {
        height: 5em;
        overflow-y: auto;
    }

    .calendar .event {
        display: block;
        margin-bottom: 1px;
        padding: 0 0.5em;

        color: inherit;
        font-size: 0.7em;
        text-decoration: none;

        border: 1px solid #ddd;
        border-radius: 0.5em;

        overflow-x: hidden;
        white-space: nowrap;
    }

/* Mobile */

@media screen and (max-width: 768px) {

    .calendar {
    }

        .calendar .title {
            display: block;
        }

        .calendar .days-header {
            display: none;
        }

        .calendar .day {
            display: block;
            width: 100%;
        }
            .calendar .day.outside-month {
                display: none;
            }

}
