@{
    ViewData["Title"] = "Users";
}

<header>
    <a class="btn btn-primary btn-sm ms-2 float-end" asp-action="Create">New User</a>
    <h2>Users</h2>
</header>

<div class="col">
    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr><td colspan="3">No users have been created yet.</td></tr>
        </tbody>
    </table>
</div>
