@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>This is a test of some content to see how stuff works with wrapping and stuff like that.  I'll just type a bunch of text that should be enough to wrap several times.  Then I can kind of see how that sort of stuff behaves in different screen sizes by altering the size of the rendered part of the browser.</p>
</div>
