@using Business.DTOs
@model SearchResults<ArticleSummary>;
@{
    ViewData["Title"] = "Latest News";
}

@foreach (var summary in Model.Data)
{
    <div class="border rounded p-2 mb-3">
        <img src="~/images/logo_64.png" class="float-right">
        <h6>@summary.Title</h6>
        <p>Lorem ipsum dolor sit amet.  I don't remember the rest.  This will be a short preview of the story.</p>
    </div>
}
