@{
    ViewData["Title"] = "Latest News";
}

@for (int i = 0; i != 10; ++i) { @:
    <div class="border rounded p-2 mb-3">
        <img src="~/images/logo_64.png" class="float-right">
        <h6>Some news story here</h6>
        <p>Lorem ipsum dolor sit amet.  I don't remember the rest.  This will basically just be a snippet of the story.</p>
    </div>
}
