@{
    ViewData["Title"] = "Numbers";
}

<section>
    <form>
        <div class="form-group row">
            <label for="search" class="col-1 col-form-label">Search:</label>
            <input type="search" class="form-control col-11" id="search">
        </div>
    </form>
</section>

<section>
    <table class="table">
        <thead>
            <tr>
                <th>Idol(s)</th>
                <th>Source</th>
                <th>Title</th>
                <th>Property</th>
                <th class="text-right">Count</th>
                <th class="text-right">Daily Average</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>🦋</td>
                <td>YouTube</td>
                <td>Title of a song</td>
                <td>Views<br>Likes</td>
                <td class="text-right">1,000,900<br>42,022</td>
                <td class="text-right">+5,600<br>+5</td>
            </tr>
        </tbody>
    </table>
</section>
