@{
    ViewData["Title"] = "Leads";
}

<header>
    <div class="d-flex align-items-start">
        <h2>Leads</h2>
        <a class="btn btn-primary btn-sm ms-2 pull-end" asp-action="Create">Add New</a>
    </div>

    <p>Leads are events that we are tracking until they are turned into news stories.</p>
</header>

<ul class="nav nav-pills border p-1">
    <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Past</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Expired</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-danger" href="#">Trash</a>
    </li>
</ul>

<table id="index" class="table table-hover">
</table>
