

/* sticky footer */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 343px; /* footer height */
}
#main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 343px; /* footer height */
}


/* links in muted text need muted too */
.text-muted a {
    color: #26c;
}
    .text-muted a:hover {
        color: #0056b3; /* same as non-muted links */
    }
