@model IndexViewModel
@{
    ViewData["Title"] = "Articles";
}

<p>
    Wonderful people like EXID deserve a lot of love and support, so we are happy to share their latest updates for fans to enjoy.
</p>

<section>
    @foreach (var result in Model.Articles.Results)
    {
        <div class="card mb-3">
            <div class="card-body">
                <!-- TODO: Fix the image thumbnail. -->
                <img class="img-thumbnail float-left mr-3" src="" alt="Article thumbnail" style="width: 128px; height: 128px;">
                <h5 class="card-title">@result.Title</h5>
                <p class="card-text">@result.Abstract</p>

                <!-- hmm... how do i handle these routes?  also idn't I want the id encoded?  maybe, maybe not? -->
                <a href="#">Read this article...</a>
            </div>
        </div>
    }
</section>

@if (Model.Articles.Next != null)
{
    <!-- TODO: I want to add a max count telling the user to use the search to find more. -->
    <a href="#" class="btn btn-primary">
        Load More...
    </a>
}

