
.editorContainer {
    position: relative;
    background: white;
}

.toolbar {
    position: absolute;
    width: 100%;
    top: calc(-1 * var(--bs-border-width));

    background: var(--bs-light);
    border-width: var(--bs-border-width);
    border-style: var(--bs-border-style);
    border-color: var(--bs-border-color);
}

.contentPlaceholder {
    position: absolute;
    top: 3em;
    left: 1em;
    user-select: none;
    pointer-events: none;
}

.content {
    padding: 3em 1em 1em 1em;

    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    outline: none;
    background: white;
}
