@{
    ViewData["Title"] = "Contact Information";
}

<h1>Contact Information</h1>

<section>
    <p>
        We love communicating with other fans!
        Send us an email or message us on social media.
    </p>

    <ul>
        <li><a href="mailto:news@leggonews.com">news@leggonews.com</a></li>
        <li><a href="https://www.instagram.com/leggo_news/" target="_blank"><i class="fab fa-instagram fa-fw"></i> leggo_news</a></li>
        <li><a href="https://twitter.com/leggo_news" target="_blank"><i class="fab fa-twitter fa-fw"></i> leggo_news</a></li>
    </ul>
</section>
