@model TagEditViewModel

@{
    ViewData["Title"] = "Create Tag";
}

<div class="container">

    <header>
        <h2>Create Tag</h2>
    </header>

    <form method="post">

        <div class="row mb-3">
            <label class="col-2 col-form-label" for="name">Name</label>
            <div class="col-4">
                <div class="input-group">
                    <span class="input-group-text">#</span>
                    <input class="form-control" id="name" name="name" maxlength="50" required>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-2 col-form-label" for="description">Description</label>
            <div class="col-10">
                <textarea class="form-control" id="description" name="description" maxlength="512"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <a class="btn btn-secondary" asp-action="Index">Cancel</a>
            </div>
            <div class="col text-end">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>

    </form>

</div>