<div class="container">

    <div class="form-floating mb-3">
        <input id="search" type="search" class="form-control" maxlength="50" placeholder="Search by name">
        <label for="search">Search by name</label>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Tag name</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="results"></tbody>
    </table>

</div>

<table>
    <tr>
        <td></td>
        <td>
            <a href="#" class="px-2" data-bs-toggle="tooltip">
                <i class="fas fa-pen-to-square"></i>
            </a>
            <a href="#" class="delete-button text-danger px-2" data-bs-toggle="tooltip">
                <i class="fas fa-trash"></i>
            </a>
        </td>
    </tr>
</table>

@section Scripts {
    <script src="~/js/TagIndex.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {

            function appendDataRow(rowData) {
            }

            function fetchAsync() {
                return Common.fetchAsync({
                    url: '@Url.Action("IndexData", "TagsApi")',
                    data: {
                        search: $('#search').val().replace(/^#/, ''),
                    }
                });
            }

            columns = [
                {
                    member: 'name',
                },
            ];

            new Index({
                searchElement: $('#search'),
                containerElement: $('#results'),
                columns: columns,
                fetchAsyncFunction: fetchAsync,
            });
        });
    </script>
}
