@model IndexViewModel<TagIndexItemViewModel>

@{
    ViewData["Title"] = "Tags";
}

<header>
    <a class="btn btn-primary btn-sm ms-2 float-end" asp-action="Create">Add Tag</a>
    <h2>Tags</h2>
</header>

<table class="table">
    <thead>
        <tr>
            <th>Tag Name</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Items.Any()) {
            <tr><td colspan="3">No tags have been created yet.</td></tr>
        }
        else foreach (var item in Model.Items) {
        <tr>
            <td>#@item.Name</td>
            <td>@item.Description</td>
            <td>
                <a class="text-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
