<div class="container">

    <div class="form-floating mb-3">
        <input id="search" type="search" class="form-control" maxlength="50" placeholder="Search by name">
        <label for="search">Search by name</label>
    </div>

    <table id="results" class="table">
        <thead>
            <tr>
                <th>Tag name</th>
                <th></th>
            </tr>
        </thead>
    </table>

</div>

<table class="d-none">
    <tr id="result-row-template">
        <td class="name"></td>
        <td class="text-end text-nowrap">
            <a href="#" class="rename-button px-2" data-bs-toggle="tooltip"><i class="fas fa-pen-to-square"></i></a>
            <a href="#" class="delete-button text-danger px-2" data-bs-toggle="tooltip"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
</table>

@section Scripts {
    <script src="~/js/Index.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            var rowTemplate = $('#result-row-template').removeAttr('id');
            function createRow(rowData){
                var row = rowTemplate.clone()
                row.find('.name').text('#' + rowData.name);
                new bootstrap.Tooltip(row.find('.rename-button'), { title: 'Rename #' + rowData.name });
                new bootstrap.Tooltip(row.find('.delete-button'), { title: 'Delete #' + rowData.name });
                return row;
            };
            new Index({
                createRowFunction: createRow,
                dataUrl: '@Url.Action("IndexData")',
                searchElement: $('#search'),
                tableElement: $('#results'),
            });
        });
    </script>
}
