@model AlbumViewModel;

<div class="container">
    <form method="post" enctype="multipart/form-data" autocomplete="off">

        <header class="mb-3">
            <button type="submit" class="btn btn-primary float-end">
                <i class="fa-solid fa-save fa-fw"></i>
                <span class="visually-hidden">Save album</span>
            </button>
            <h1 class="h3">Edit Album</h1>
        </header>

        <div class="mb-3">
            <label asp-for="Title" class="form-label"></label>
            <input asp-for="Title" class="form-control">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Artist" class="form-label"></label>
            <input asp-for="Artist" class="form-control">
            <span asp-validation-for="Artist" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="AlbumType" class="form-label"></label>
            <select asp-for="AlbumType" class="form-control">
                <option></option>
                <option>Album</option>
                <option>Collaboration</option>
                <option>OST</option>
                <option>Single</option>
            </select>
            <span asp-validation-for="AlbumType" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ReleaseDate" class="form-label"></label>
            <input asp-for="ReleaseDate" class="form-control">
            <span asp-validation-for="ReleaseDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="AlbumArtUploadedFile" class="form-label"></label>
            <input asp-for="AlbumArtUploadedFile" data-existing-image-uri="@Model.AlbumArtExistingImageUri" accept="image/*" class="form-control">
            <span asp-validation-for="AlbumArtUploadedFile" class="text-danger"></span>
        </div>

    </form>
</div>