<div class="container">

    <header class="mb-3">
        <a class="btn btn-primary float-end" asp-controller="Music" asp-action="Edit">
            <i class="fa-solid fa-plus fa-fw"></i>
            <span class="visually-hidden">Add album</span>
        </a>
        <h1 class="h3">Albums</h1>
    </header>

    <div class="row border rounded my-3">
        <div class="col">
            img
        </div>
        <div class="col">
            <h5>Title of Album</h5>
            <div>Author</div>
        </div>
        <div class="col">
            <div>Edit</div>
            <div>Delete</div>
        </div>
    </div>

</div>