@{
    ViewData["Title"] = "Cookie Policy";
}
<h1>@ViewData["Title"]</h1>

<section>
    <h6>What are cookies?</h6>
    <p>Cookies are data that websites can save to your device.  They have many uses, some of which are: knowing whether the user is signed in, remembering online shopping cart items, and tracking users across webpages.</p>

    <h6>What is this document?</h6>
    <p>The GPDR and similar laws require websites that use cookies to publish details about their use of cookies.</p>

    <h6>Does this website use cookies?</h6>
    <p>Yes, but only if the user wants it to.  This website uses cookies to remember user preferences and manage sign-ins, and embedded content may use third-party cookies.  In all scenarios, a prominent message is displayed first, and the user has the option to not continue with any action that requires cookies.</p>
</section>

<section>
    <h2>Session Cookie</h2>

    <h6>What is the session cookie?</h6>
    <p>A session cookie is used to map a sign-in user to their account.  Without a session cookie, a user cannot sign in to their account.</p>

    <h6>When is the cookie set?</h6>
    <p>The session cookie is only set after a successful sign-in.  It is deleted when the user is signed out.</p>

    <h6>What does the cookie reveal?</h6>
    <p>The session cookie only maps a user to their account.  The account contains additional information which is detailed in our <a asp-controller="Policy" asp-action="PrivacyPolicy">Privacy Policy</a>.</p>

    <h6>How can I disable this cookie?</h6>
    <p>Simply don't sign in to LEGGO News.  If you are already signed in, signing out will delete the cookie.</p>
</section>

<section>
    <h2>Third-Party Preferences Cookie</h2>

    <h6>What is the third-party preferences cookie?</h6>
    <p>After allowing third party cookies, the user's preferences are saved in a cookie.  This removes the prompt from subsequent page loads.</p>

    <h6>When is the cookie set?</h6>
    <p>The third-party preferences cookie only exists if some or all third-party cookies are allowed.  If none are allowed, then the cookie does not exist.</p>

    <h6>What does the cookie reveal?</h6>
    <p>The third-party preferences cookie only stores the user's preferences for which third-party cookies are allowed.  It is not used for any other purpose.  However, third-party cookies that are allowed may reveal more information to the third parties.</p>

    <h6>How can I disable this cookie?</h6>
    <p>If third-party cookies are enabled, then this cookie is set.  To delete this cookie and reset your preferences, <a href="#">click here</a>.</p>
</section>

<section>
    <h2>Third Party Cookies</h2>

    <h6>What are third-party cookies?</h6>
    <p>Third party cookies are managed by a website other than the one being visited.  Examples are embedded content such as YouTube videos and Twitter tweets.</p>

    <h6>Why are third-party cookies needed?</h6>
    <p>They usually aren't.  Even so, we pretend that they are required for services such as YouTube and Spotify, because we want those views and plays to count!</p>

    <h6>When are the cookies set?</h6>
    <p>On LEGGO News, third party cookies are blocked by default.  When they must be used, the content is disabled until the user approves the use of their cookies.</p>

    <h6>Where can I read the cookie policies of the third parties?</h6>
    <p>Most third-party content on LEGGO News is always blocked from using cookies through our website.  The list below are the third parties who can be unblocked (by the user) and our reasoning for allowing their cookies (after user approval):</p>
    <ul>
        <li><a href="#" target="_blank">Instagram</a> - cookies are required by Facebook</li>
        <li><a href="#" target="_blank">Instagram</a> - cookies are required by Instagram</li>
        <li><a href="#" target="_blank">Spotify</a> - we want to count those plays</li>
        <li><a href="#" target="_blank">YouTube</a> - we want those views to count</li>
    </ul>
</section>
