@{
    ViewData["Title"] = "Fair Use Notice";
}
<h1>@ViewData["Title"]</h1>

<p>This website contains copyrighted material that is owned by third parties.  In some cases, we have explicit permission to use the material.  In other cases, the material is used under Fair Use clauses specifically for the purpose of covering news.  This document explains the later.</p>

<section>
    <h2>Fair Use Law</h2>

    <p>Fair Use is a legal doctrine that permits limited use of copyrighted material without having to acquire permission from the copyright holder.  In United States law, Fair Use is defined in <a href="" target="_blank">17 U.S. Code § 107</a>.  These laws apply to LEGGO News, because our headquarters are in the United States.</p>

    <blockquote>
        <div>
            <p>Notwithstanding the provisions of sections 106 and 106A, the fair use of a copyrighted work, including such use by reproduction in copies or phonorecords or by any other means specified by that section, for purposes such as criticism, comment, news reporting, teaching (including multiple copies for classroom use), scholarship, or research, is not an infringement of copyright. In determining whether the use made of a work in any particular case is a fair use the factors to be considered shall include—</p>
            <ol>
                <li>the purpose and character of the use, including whether such use is of a commercial nature or is for nonprofit educational purposes;</li>
                <li>the nature of the copyrighted work;</li>
                <li>the amount and substantiality of the portion used in relation to the copyrighted work as a whole; and</li>
                <li>the effect of the use upon the potential market for or value of the copyrighted work.</li>
            </ol>
            <p>The fact that a work is unpublished shall not itself bar a finding of fair use if such finding is made upon consideration of all the above factors.</p>
        </div>
        <footer>
            <cite><a href="" target="_blank">17 U.S. Code § 107</a></cite>
        </footer>
    </blockquote>

    <p>Similar laws exist in other countries.  A good list is on Wikipedia's <a href="https://en.wikipedia.org/wiki/Fair_use#Influence_internationally" target="_blank">&ldquo;Fair use&rdquo;</a> article.  Because our staff and audience are worldwide, we try to respect the laws of every country where feasible.  Of course, United States laws take priority if there is a conflict between its laws and another country's laws.</p>

</section>

<section>
    <h2>Getting Work Removed</h2>

    <p>If you own the copyright of material that we use on our website, and if you want that material to be removed, then simply tell us to remove it.  After verifying that you are indeed the copyright owner, then we will remove the offending material within a reasonable amount of time.  Our contact email address for this is <a href="mailto:support@@leggonews.com">support@leggonews.com</a>.  Alternatively, you can contact us through direct message on social media.</p>

</section>
